<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/FourtModel4/1P/laravel/tests" />
        <option value="$PROJECT_DIR$/ThirdModel/4PLaravel/tests" />
      </list>
    </option>
  </component>
</project>